body {
	text-align:center;
	background-image: url("https://raw.githubusercontent.com/TonyC51/TonyC51.github.io/master/272335-P6AJ3E-426.jpg");
	background-size: 140%;
}


h1 {
	margin-bottom: 2%;
	margin-top: 5%;
  	text-shadow: 1px 1px grey;
	color: #007bff;
}

strong {
	color: #007bff;
}

h4 {
	color: #007bff;	
	margin-bottom: 5%;
	margin-top: 8%;
}

footer {
	margin-top: 10%;
	background-color: #007bff;
	color: white;
	border-radius: 25px;
}

a {
	text-decoration: none;
	color: white;
}

p {
	font-family: Georgia, serif;
}


#image-tony {
	margin-top: 4%;
}

